P{
text-align:left;
padding:5px;
width: 220px;
font-weight: bold;
}
span{
text-align:left;
padding:4px;
font-weight: bold;
border: 3px solid red;
border-radius: 7px;
padding:4px;
}
input{
margin-left: 35px;
}
select{
margin-left: 35px;
}
checkbox{
margin-left: 35px;
}
.vards{
padding-left: 10px;
padding-right: 10px;
}
.vecums{
padding-left: 10px;
padding-right: 10px;
}
.papildus{
padding-left:0px;
padding-right: 35px;
}
.arejaKaste {
  border-style: doted;
  border-color: red;
  background-color: lightblue;
  padding: 12px 12px 12px 12px;
  margin: 55px 25px 55px 25px;
  width: 38%;
  }
  .button1 { 
   background-color: white; 
   color: black; 
   border: 3px solid #ff0000;
   padding: 150px 300px; 
   cursor: pointer;
    border-radius: 10px;
} 
.button1:hover { 
  background-color: #cc0000; 
  color: white;
} 
.button2 { 
  background-color: white;
  color: black;
  border: 3px solid #ff0000; 
  padding: 15px 30px; 
  cursor: pointer;
  border-radius: 10px;
} 
.button2:hover { 
  background-color: #cc0000; 
  color: white;
}
#form{
align: left;
padding-left: 35px;
padding-right; 7px;
}
#submit{
text-align: right;
padding-bottom: 9px;
padding-top: 9px;
padding-left: 15px;
padding-right: 15px;
}
hr{
color:red;
width: 80%;
}
  









  

  

